{% extends 'base.html.twig' %}
{% block body %}
<div>

</div>
<div class="background">
    <h2>Arsenal</h2>
</div>

<div class="container">
    <div class="texte">
        <p>Dans un monde où l'innovation dans le jeu vidéo est constamment recherchée, le studio indépendant Lumière
            Stellaire a frappé fort avec la sortie de leur dernier chef-d'œuvre, "Aventures Cosmiques". Ce jeu, très
            attendu par la communauté des gamers, a été officiellement lancé le 20 mars 2024, promettant une expérience
            immersive inégalée dans l'exploration spatiale.</p>
    </div>
    <div class="img">
        <img src="/src/Public/img/logo.png" alt="">

    </div>
</div>


<div class="container">
    <div class="img">
        <img src="/src/Public/img/land.png" alt="">
    </div>
    <div class="texte">
        <p>Dans un monde où l'innovation dans le jeu vidéo est constamment recherchée, le studio indépendant Lumière
            Stellaire a frappé fort avec la sortie de leur dernier chef-d'œuvre, "Aventures Cosmiques". Ce jeu, très
            attendu par la communauté des gamers, a été officiellement lancé le 20 mars 2024, promettant une expérience
            immersive inégalée dans l'exploration spatiale.</p>
    </div>

</div>
{% endblock %}