{% extends 'base.html.twig' %}
{% block body %}
<div>
    <h1> home </h1>
    {% if isConnected %}
    <h2>player is connected</h2>
    {% else %}
    <h2>player is disconnected</h2>
    {% endif %}
</div>
{% endblock %}