body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #C9AE75;
}

.navbar {
    background-color: #862A1B;
    /* Dark red background */
    overflow: hidden;
    padding: 10px 20px;
    /* Some padding */
}

.navbar a {
    float: left;
    /* Float links to the left */
    color: #C9AE75;
    text-align: start;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    /* Increase font size */
    line-height: 25px;
    /* Center text vertically */
}

.navbar-logo {
    background-image: url('/src/Public/img/logo.png');
    /* Replace with your image path */
    background-size: cover;
    height: 50px;
    /* Set the size of the logo */
    width: 50px;
    border-radius: 50%;
}

.navbar-right {
    float: right;
    text-align: center;
    /* Float the sign in and out to the right */
}

.navbar a:hover {
    color: black;
    border: #862A1B;
}

/* Clear floats after the columns */
.navbar:after {
    content: "";
    display: table;
    clear: both;
}

.background h2{

    
}

