body {

    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Expletus Sans', sans-serif;
    background-color: #ccc;

}



form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.background h1 {
    font-size: 100px;
    color: #862A1B;
}


input {
    margin: 10px;
    padding: 10px;
}


button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



button:hover {

    background-color: #0056b3;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ccc;
}

.texte,
.img {
    flex: 1;
    padding: 20px;
    
}
img {
    
    max-width: 500px;
    max-height: 500px;
}


.background {
    position: relative;
    height: 70vh;
    /* Hauteur de la page */
    background: url('/src/Public/img/Illu\ arsenal.jpg') no-repeat center center;
    /* Image de fond */
    background-size: cover;
    /* Couvrir toute la div */
}

.background::before {
    content: '';
    background-image: url('/src/Public/img/Illu\ arsenal.jpg');
    opacity: 0.5;
    z-index: 0;
}

.texte-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* Ou la hauteur désirée */
    line-height: normal;
    width: 100vh;
    /* Attention, vh est une unité basée sur la hauteur de l'écran, peut-être vouliez-vous utiliser % ou px ici pour la largeur */
    border: 1px solid black;
    border-radius: 50px;
}

.texte-home p {
    padding: 20px;
    color: black;
    size: 10px;
    font-size: x-large;
}