{% extends 'base.html.twig' %}
{% block body %}

<div>
    {% if _context.message %}
    <h1 class="{{ _context.type == 'success' ? 'success' : 'error' }}">
        {{ _context.message }}
    </h1>
    {% endif %}
    {% if errors is defined and errors|length > 0 %}
    <div class="errors">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <h1>Login</h1>
    <form action="" method="post">

        <label for="username">username</label>
        <input name="username" id="username" type="username">

        <label for="password">password</label>
        <input name="password" minlength="6" maxlength="100" id="password" type="password">

        <button type="submit">Login</button>

    </form>

</div>



{% endblock %}