{% extends 'base.html.twig' %}
{% block body %}

<div>

    <h1>register</h1>
    <form action="" method="post">

        <label for="email">email</label>
        <input name="email" id="email" type="email">

        <label for="password">password</label>
        <input name="password" id="password" type="password">

        <label for="username">Username</label>
        <input name="username" id="username" type="text">


        <label for="displayname">Display name</label>
        <input name="displayname" id="displayname" type="text">

        <button type="submit">Register</button>
    </form>

</div>



{% endblock %}