<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Navbar Example</title>

</head>

<body>

    <div class="navbar">
        <div class="navbar-logo"></div>
        <a href="/">Home</a>
        <a href="#play">Play</a>
        <!-- mettre une condition pour si l'utilisateur est connecte -->
        <a href="/register">Register</a>
        <a href="/login">Login</a>

        <div class="navbar-right">
            <a href="/login"><i class="fa-solid fa-user fa-3x"></i></a>
            <!-- mettre une condition pour si l'utilisateur est connecte -->
            <a href="/logout"><i class="fa-solid fa-right-to-bracket fa-3x"></i></a>
        </div>
    </div>


</body>

</html>